<h1>Blog Posts</h1>

<% @posts.each do |post| %>

<h3><%= link_to post.title, post %></h3>
<p><%= post.body %></p>
<p>Category: <%= link_to post.category.category_name, post.category rescue nil %></p>
<hr>

<% end %>

<%= link_to "Add new post", new_post_path %>

